<mat-card>
    <mat-card-header>
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>About this project</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            This is an education project about angular and api's for educational purpouses.
            The creators are not affiliated with SpaceX in any way.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a color="accent" href="https://github.com/Shumeras/KGSP_Demos" mat-raised-button>Repository</a>
    </mat-card-actions>
</mat-card>